<nav class="aws-nav-header navbar-inverse bg-dark" style="padding-top:0;padding-bottom:0">
  <div class="container-fluid">
    <div class="aws-bg-logo lb-bg-logo aws-amazon_web_services_smile-header-mobile-en">
      <a href="#"><span>Click here to return to Serverless Application homepage</span></a>
    </div>
    <div class="aws-nav-header-right">
      <ul class="nav navbar-nav">
        <li><a href="#">Upload</a></li>
        <li><a routerLink="gallery">Gallery</a></li>
      </ul>
    </div>
  </div>
</nav>
<main id="main">
  <router-outlet></router-outlet>
</main>

